.btn-group(dropdown)
  button.btn.btn-primary.dropdown-toggle(type='button', dropdownToggle)
    | Button Dropdown
    span.caret
  ul.dropdown-menu(role="menu", *dropdownMenu='')
    li(role='menuitem')
      a.dropdown-item(href='#') Action
    li(role='menuitem')
      a.dropdown-item(href='#') Another action
    li(role='menuitem')
      a.dropdown-item(href='#') Something else here
    li.divider.dropdown-divider      
    li(role='menuitem')
      a.dropdown-item(href='#') Seperated link